.DS_Store
bower_components
public/js/lib
public/bundle.js
app/components
*.swp
*~
node.debug
npm-debug.log
public/bundle.js
public/manifest.appcache

lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
nbproject
