<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <script src="/jquery/jquery.min.js"></script>
</head>
<body>

  <div id="villagesContainer">
  <table>
     <thead>
          <th>Village Name</th>
          <th>District</th>
          <th>Population</th>
          <th>Basic Latrines</th>
          <th>Improved Latrines</th>
          <th>Functional WPs</th>
          <th>Non Functional WPs</th>
      </thead>
      <tbody>
        <div id="villages"></div>
      </tbody>
  </table>
  </div>

  <script type="text/template" id="villageTemplate">
    <tr>
      <td><%= villageName %></td>
      <td><%= district %></td>
      <td><%= population %></td>
      <td><%= numBasicLatrines %></td>
      <td><%= numImprvLatrines %></td>
      <td><%= numFuncWPs %></td>
      <td><%= numNonFuncWPs %></td>
    <tr>
  </script>

  <script src="/bundle.js"></script>

</body>
</html>
