<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  
</head>
<body>

  <div id="villages">

    <form id="frmVillage" action="#">
        <ul><label for="title">Village Name: </label><input id="villageName" type="text" /></ul>
        <ul><label for="title">District: </label><input id="district" type="text" /></ul>
        <ul><label for="author">Population: </label><input id="population" type="text" /></ul>
        <ul><label for="releaseDate">Basic Latrines: </label><input id="numBasicLatrines" type="text" /></ul>
        <ul><label for="keywords">Improved Latrines: </label><input id="numImprvLatrines" type="text" /></ul>
        <ul><label for="keywords">Functional WPs: </label><input id="numFuncWPs" type="text" /></ul>
        <ul><label for="keywords">Non Functional WPs: </label><input id="numNonFuncWPs" type="text" /></ul>
        <ul><button id="add">Add</button></ul>
    </form>

    <table>
         <thead>
              <th>Village Name</th>
              <th>District</th>
              <th>Population</th>
              <th>Basic Latrines</th>
              <th>Improved Latrines</th>
              <th>Functional WPs</th>
              <th>Non Functional WPs</th>
          </thead>
          <tbody id="villageRows">
          </tbody>
      </table>
  </div>

  <script type="text/template" id="villageTemplate">
      <td><%= villageName %></td>
      <td><%= district %></td>
      <td><%= population %></td>
      <td><%= numBasicLatrines %></td>
      <td><%= numImprvLatrines %></td>
      <td><%= numFuncWPs %></td>
      <td><%= numNonFuncWPs %></td>
  </script>

  <script src="/jquery/jquery.min.js"></script>
  <script src="/bundle.js"></script>

</body>
</html>
