hr {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-top: 0px ! important;
}

#branding {
    margin-bottom: -40px;
}

.navbar {
    margin-bottom: -5px ! important;
    margin-right: 10px;
}

.nav > li > a:hover {
    text-decoration: underline;
    background-color: transparent;
}

