/* 
    Document   : main
    Created on : Nov 23, 2013, 5:33:38 PM
    Author     : Anya Marshall
    Description:
        Main stylesheet for hulasync application.
*/

#branding {
    margin-bottom: -40px;
}

.navbar {
    margin-bottom: -10px;
    margin-right: 10px;
}

.nav > li > a:hover {
    text-decoration: underline;
    background-color: transparent;
}

hr {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

h3 {
    text-align: center;
}

#data-table {
    margin-top: 10px;
}

.table-header {
    margin-top: 30px;
    margin-bottom: 15px;
}

.table-header h2 {
    display: inline;
    margin-left: 40%;
}

.table-add {
    float: right;
    margin-right: 35%;
}
